<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/movies" routerLinkActive="active">Movies</a>
        </li>
        <li class="nav-item">
            <app-search-input></app-search-input>
        </li>
    </ul>
</nav>

<div class="container">
        <router-outlet></router-outlet>
</div>